body {
  background-color: #f5f4f1;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  opacity: 0.85;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#top-bar-1 {
  background-color: #324968;
  color: #FFF;
}

#top-bar-2 {
  background-color: #42705b;
  border-top: 1px solid #698982;
}

header {
  background-image: url("img/iStock-496568604.jpg");
  padding: 8%;
}

header #headings {
  color: #FFF;
  font-family: 'Merriweather', serif;
}

header h4 {
  margin-top: 0;
}

#form {
  background-color: #f2f2f2;
}

#episode-overlay {
  background-color: #fff;
  width: 88%;
  margin: auto;
  padding: 3% 1%;
}

#episode-details h4 {
  font-family: 'Merriweather', serif;
  color: #2B72B2;
}

footer {
  background-color: #324968;
  color: #FFF;
}

#footer-left {
  float: left;
}

#footer-right {
  float: right;
}

.img-resize {
  height: 200px;
  width: auto;
}

button.listen {
  background-color: #92A55F;
  border-radius: 0;
  color: #FFF;
}

.img-bg {
  background-image: url('img/bodie-pyndus-57662.jpg');
  width: 200px;
  height: 100px;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
}

.crop {
  width: 250px;
  height: 160px;
  overflow: hidden;
  margin: 5%;
}

.crop img {
  width: 325px;
  margin: -50px 0 0 -75px;
}

.crop2 img { /* (For long image, with apple) */
  margin: -190px 0 0 -75px;
}